<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">A little audio shop</title>
</head>
<body>
  <div layout:fragment="content" class="w-75">
      <h1 class="text-center my-5">Headphones</h1>
      <table class="table table-striped">
          <thead>
            <tr>
                <th>Name</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Connection</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="headphone : ${headphones}">
                <td th:text="${headphone.name}"></td>
                <td th:text="${headphone.brand}"></td>
                <td th:text="${headphone.type}"></td>
                <td th:text="${headphone.connection}"></td>
                <td><button type="button" class="btn btn-info">Edit</button></td>
                <td><button type="button" class="btn btn-danger">Delete</button></td>
<!--                <td><button type="button" class="btn btn-warning">Info</button></td>-->
            </tr>
          </tbody>
      </table>
  </div>
</body>
</html>